@model List<Serie>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Series
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Serie serie in Model)
        {
            <li>
                <a class="dropdown-item" 
                asp-controller="Series"
                asp-action="Details"
                asp-route-idserie="@serie.IdSerie">
                    @serie.Nombre
                </a>
        </li>    
        }
  </ul>
</div>